
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> only sip on wines you love</a>
    </div>
  </div>
</nav>


<div class='col-md-12 navbar navbar-default navbar-static-top'>
  <a href='/' class='navbar-brand'>wine box</a>
  <ul class='nav navbar-nav navbar-right'>
    <li><a href = "about.html">About</a></li>
  </ul>
</div>
