<div class='col-md-12 navbar navbar-default navbar-static-top'>
  <a href='/' class='navbar-brand'>wine box</a>
  <ul class='nav navbar-nav navbar-right'>
    <li> <%= link_to "search our wine list", wines_path %> </li>
    <li> <%= link_to "what is a wine fix", about_path %> </li>
  </ul>
    <% flash.each do |type, message| %>
    <strong> <%= content_tag :div, message, class: "flash_#{type}" %> </strong>
  <% end %>
</div>
