    <div class='container'>
      <div class='row well'>
        <div class='col-md-12'>
          <!-- <img class='center-block' src='assets/wine_background.jpeg' > -->
          <%= image_tag("wine_background.jpeg", class: "center-block", size: "480x280")  %>
        </div>
      </div>
      <div class='col-md-6'>
        <i class='glyphicon glyphicon-repeat'></i>
        <h3><%= link_to "login here", login_path %></h3>
        <p>Bacon ipsum dolor amet venison tail bacon cow frankfurter doner. Drumstick meatball capicola cupim, venison ball tip tri-tip pork chop porchetta doner. Flank shoulder fatback pastrami beef, turducken shank porchetta picanha. Fatback shoulder doner pork. Shoulder turducken tongue landjaeger.</p>
        <!-- <button type = 'button' class='btn btn-success'>That's a bold move, Button</button> -->
      </div>

      <div class='col-md-6'>
        <i class='glyphicon glyphicon-sunglasses'></i>
        <h3><%= link_to "create account", new_user_path %></h3>
        <p> Search from thousands of wines, keeps lists of your favorites, create your custome wine fix</p>
        <!-- <button type = 'button' class='btn btn-warning'>Button Pushes You!</button> -->
      </div>
    </div>

    </div>
  </body>
</html>
